* {
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: #3175af;
}

a:hover {
    color: #359cf5;
}

.ft-light {
    font-family: 'PingFangSC-Light', 'Microsoft YaHei UI Light', 'Microsoft Yahei Light', 'Hiragino Sans GB';
    font-weight: 100;
}

.ft-normal {
    font-family: 'PingFangSC-Regular', 'Microsoft YaHei UI', 'Microsoft Yahei', 'Hiragino Sans GB';
    font-weight: 400;
}

.ft-bold {
    font-family: 'PingFangSC-Medium', 'Microsoft YaHei UI', 'Microsoft Yahei', 'Hiragino Sans GB';
    font-weight: 900;
}

html,
body {
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
}

.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em;
    height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示 normalize.css 中也包含这行 */
    overflow: hidden;
}

.background-contain {
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-size: contain;
}

.background-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-size: cover;
}

.slide-toggle-enter-active,
.slide-toggle-leave-active {
    transition: all 2s ease;
}

.slide-toggle-enter {
    transform: translateY(-10px);
    opacity: 0;
}

.slide-toggle-leave-active {
    transform: translateY(10px);
    opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.3s ease;
}

.slide-up-enter,
.slide-up-leave-active {
    transform: translateY(-10px);
    opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 0.2s ease;
}

.slide-left-enter {
    transform: translateX(10px);
    opacity: 0;
}

.slide-left-leave-active {
    transform: translateX(-10px);
    opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.2s ease;
}

.slide-right-enter {
    transform: translateX(-10px);
    opacity: 0;
}

.slide-right-leave-active {
    transform: translateX(10px);
    opacity: 0;
}

.color-primary {
    color: #ee5253;
}

.color-main {
    color: #f857a6;
}

.color-title {
    color: #303133;
}

.color-text {
    color: #606266;
}

.color-subtitle {
    color: #909399;
}

.color-placeholder {
    color: #c0c4cc;
}

.color-border {
    color: #dcdfe6;
}

.color-border-light {
    color: #e4e7ed;
}

.color-border-lighter {
    color: #ebeef5;
}

.color-border-lightest {
    color: #f2f6fc;
}

.color-success {
    color: #67c23a;
}

.color-warning {
    color: #e6a23c;
}

.color-danger {
    color: #f56c6c;
}

.color-info {
    color: #909399;
}

.m-5 {
    margin: 20px;
}

.m-t-5 {
    margin-top: 20px;
}

.m-r-5 {
    margin-right: 20px;
}

.m-b-5 {
    margin-bottom: 20px;
}

.m-l-5 {
    margin-left: 20px;
}

.p-5 {
    padding: 20px;
}

.p-t-5 {
    padding-top: 20px;
}

.p-r-5 {
    padding-right: 20px;
}

.p-b-5 {
    padding-bottom: 20px;
}

.p-l-5 {
    padding-left: 20px;
}

.m-4 {
    margin: 16px;
}

.m-t-4 {
    margin-top: 16px;
}

.m-r-4 {
    margin-right: 16px;
}

.m-b-4 {
    margin-bottom: 16px;
}

.m-l-4 {
    margin-left: 16px;
}

.p-4 {
    padding: 16px;
}

.p-t-4 {
    padding-top: 16px;
}

.p-r-4 {
    padding-right: 16px;
}

.p-b-4 {
    padding-bottom: 16px;
}

.p-l-4 {
    padding-left: 16px;
}

.m-3 {
    margin: 12px;
}

.m-t-3 {
    margin-top: 12px;
}

.m-r-3 {
    margin-right: 12px;
}

.m-b-3 {
    margin-bottom: 12px;
}

.m-l-3 {
    margin-left: 12px;
}

.p-3 {
    padding: 12px;
}

.p-t-3 {
    padding-top: 12px;
}

.p-r-3 {
    padding-right: 12px;
}

.p-b-3 {
    padding-bottom: 12px;
}

.p-l-3 {
    padding-left: 12px;
}

.m-2 {
    margin: 8px;
}

.m-t-2 {
    margin-top: 8px;
}

.m-r-2 {
    margin-right: 8px;
}

.m-b-2 {
    margin-bottom: 8px;
}

.m-l-2 {
    margin-left: 8px;
}

.p-2 {
    padding: 8px;
}

.p-t-2 {
    padding-top: 8px;
}

.p-r-2 {
    padding-right: 8px;
}

.p-b-2 {
    padding-bottom: 8px;
}

.p-l-2 {
    padding-left: 8px;
}

.m-1 {
    margin: 4px;
}

.m-t-1 {
    margin-top: 4px;
}

.m-r-1 {
    margin-right: 4px;
}

.m-b-1 {
    margin-bottom: 4px;
}

.m-l-1 {
    margin-left: 4px;
}

.p-1 {
    padding: 4px;
}

.p-t-1 {
    padding-top: 4px;
}

.p-r-1 {
    padding-right: 4px;
}

.p-b-1 {
    padding-bottom: 4px;
}

.p-l-1 {
    padding-left: 4px;
}

.m-0 {
    margin: 0px;
}

.m-t-0 {
    margin-top: 0px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-b-0 {
    margin-bottom: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.p-0 {
    padding: 0px;
}

.p-t-0 {
    padding-top: 0px;
}

.p-r-0 {
    padding-right: 0px;
}

.p-b-0 {
    padding-bottom: 0px;
}

.p-l-0 {
    padding-left: 0px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.cp {
    cursor: pointer;
}

/*loading*/

.spinner-parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    background-color: transparent;
}

.spinner {
    width: 150px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 48%;
    margin-left: -75px;
}

.spinner>div {
    width: 30px;
    height: 30px;
    background-color: #ee5253;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/*loading*/